@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="container" id="initialView">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Welcome to Quiz Master 2019!</h5>
                <h6 class="card-subtitle mb-2 text-muted">Instructions</h6>
                <p class="card-text">
                    Enter your name in the <b>Username</b> text box.
                </p>
                <p class="card-text">
                    Click the <b>Join Channel</b> button to compete with other players who are online.
                </p>
                <p class="card-text">
                    The timer will start when the first player joins the channel. You will then have <b>20 seconds</b> before the quiz starts.
                </p>
                <p class="card-text">
                    You will then have <b>20 seconds</b> for each question before the Quiz Master moves on to the next question.
                </p>
                <p class="card-text">
                    Once all the questions are answered, the final score will be shown.
                </p>
                <p class="card-text">
                    <em style="text-decoration: underline;">Note: You cannot change your answer once it is selected. So, think well before answering.</em>
                </p>
            </div>
            <div class="card-footer text-muted text-center">
                Let us get started!
            </div>
        </div>
        <div class="container d-flex flex-column justify-content-center align-items-center mt-5 ml-auto mr-auto" id="initialPage">
            <div class="input-group mb-3 w-50">
                <input type="text" class="form-control" placeholder="Username" id="usernameInput">
            </div>
            <button class="btn btn-lg btn-outline-primary w-50" id="joinChannel">
                Join Channel
            </button>
        </div>
    </div>
    <div class="container" id="gamePage" style="display: none;">
        <div class="row m-3 p-2 d-flex flex-row justify-content-end align-items-center">
            <h6 class="mr-3">Total users playing: <span class="badge badge-info" id="userCount"></span></h6>
            <button type="button" class="btn btn-outline-danger float-right" id="leaveButton" onclick="leaveQuiz()">
                Quit
            </button>
        </div>
        <div class="row m-3 p-2">
            <div class="progress w-100">
                <div id="timer" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 100%"></div>
            </div>
        </div>
        <div class="h-100 flex-column align-items-center" id="loadingItems">
            <div class="loading row d-flex flex-row justify-content-center">
                <div class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <br />
            </div>
            <div class="text-center" id="loaderText">Waiting for players to join...</div>
        </div>
        <div class="row" id="quizArea">
            <div class="card w-100">
                <div class="card-header" id="questionArea">
                </div>
                <ul class="list-group list-group-flush" id="answersArea">
                    <li class="list-group-item" style="cursor: pointer;" onclick="selectAnswer(0)" role="button"></li>
                    <li class="list-group-item" style="cursor: pointer;" onclick="selectAnswer(1)" role="button"></li>
                    <li class="list-group-item" style="cursor: pointer;" onclick="selectAnswer(2)" role="button"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade show" tabindex="-1" role="dialog" id="scoreModal" data-backdrop="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Scores</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="leaveQuiz()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height: 60vh; overflow-y: auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody id="scoreBody"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="leaveQuiz()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>