
@{
    ViewData["Title"] = "Quiz";
}

<h1>Quiz Time</h1>
<div class="loading row text-center" id="loadingItems">
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

